:root {
    box-sizing: border-box;
    --bg: #21b1e0;
    --hover-color: #3b3bec;
}

body {
    background-color: var(--bg);
    margin: 0;
    font-family: main;
}

.cell {
    background-color: var(--hover-color);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 1200px;
    margin: 10px auto;
}

#homeDiv {
    text-align: center;
    margin-top: 5px;
}

#home {
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    color: black;
    border-bottom: 2px solid var(--hover-color);
}

#home:hover {
    background-color: var(--hover-color);
    border-radius: 5px;
}

.hover-cells:hover {
    background-color: aquamarine;
}

.hover-cells-cleared:hover {
    background-color: orange;
}

.info-div {
    background-color: aqua;
    border: 2px solid var(--hover-color);
    padding: 5px;
    text-align: center;
}

input {
    text-align: center;
    width: 50px;
}

.long-div {
    width: 150px;
}

.longer-div {
    width: 400px;
}

.marked {
    background-color: aqua;
}

#message {
    font-size: 16px;
}

#numbers-not-here {
    text-align: left;
}

p {
    margin: 5px;
}

.removed {
    background-color: indianred;
}

#table {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}